.progress-container{
    width: 50%;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.progress-bar-back{
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: black;
    border: none;
    z-index: -1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}
.progress-bar-front{
    position: absolute;
    height: 4px;
    width: 0%;
    background-color: green;
    border: none;
    z-index: -1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}
.step{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid lightslategray;
    color: lightslategrey;
}
.step.checked{
    color: green;
    border-color: green;
}
.step.checked small{
    position: absolute;
    bottom: -20px;
}
.nav-btn{
    background-color: violet;
    border: none;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.nav-btn:hover{
    opacity: 0.8;
}