#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  max-height: 100vh;
}
.page{
  background-color: #314F2D;
}
.testimonial-area{
  display: flex;
  justify-content: space-around;
  transition: transform 0.7s ease-in-out;
  padding: 4rem;
}
.arrows-area{
  display: flex;
  justify-content: end;
  margin-right: 6.5rem;
  padding-bottom: 2rem;
}
.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
  
}
.arrow button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.left-arrow-image{
  transform: rotate(180deg);
}
@media only screen and (max-width: 899px) {
  .page .hide{
    display: none;
   }
}

/* .testimonial-card-wrapper{
  flex: 1;
  min-width: 33%;
  transition: transform 0.7s ease-in-out;
} */

.next .testimonial-card-wrapper{
  animation: slideFromRight 0.5s forwards;
}
.prev .testimonial-card-wrapper{
  animation: slideFromLeft 0.5s forwards;
}

@keyframes slideFromRight {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slideFromLeft {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
