.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 5rem;
    font-weight: bold;
}
.sub-title{
    font-size: 3rem;
    margin-top: 6rem;
}
.choices{
    width: 100%;
    margin-top: 6%;
    cursor: pointer;
}
.choices ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    list-style: none;
}
.choices ul li{
    width: 10.125rem;
    height: 10.125rem;
    background-color: rgba(255,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
}
.choices ul li img {
    transform: scale(0.7);
}
.result{
    font-size: 3rem;
    font-weight: 500;
}
.scores{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 5rem;
    font-size: 1.5rem;
}